.Foto-cara {
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-1;
}

.card-img-top {
    width: 250px;
    height: 200px;
    display: flex;
    margin-top: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 630px;
}

.reloj1 {
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-2;
    margin: $margen-1;
    margin-right: 30px;
}

.candadoycorona {
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-2;
    margin: $margen-1;
}

.cazafantasmas {
    align-items: center;
    justify-content: center;
    height: $altura-4;
    display: flex;
    margin: $margen-2;
    width: 87%;
}

.fondo1 {
    background-color: $color-primario;
}

.img-fluid {
    align-items: center;
    justify-content: center;
    height: $altura-4;
    display: flex;
    margin: $margen-2;
    width: 87%;
}

.fondo2 {
    background-color: $color-secundario;
}

.casas1-3 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    margin-top: 100px;
}

.casas4-6 {
    display: flex;
    justify-content: space-around;
}

.fondo3 {
    background: rgb(246, 111, 7);
}

.fondo4 {
    background: rgb(141, 54, 241);
}

.fondo5 {
    background: rgb(0, 0, 0);
}

.scooby {
    display: flex;
    padding-right: 100px;
}