$altura-primaria: 200px;
$altura-secundaria: 100vh;
$altura-terciaria: 500px;
$altura-4: 530px;

$anchura-primaria: 200px;
$anchura-secundaria: 250px;
$anchura-terciaria: 600px;
$anchura-4: 950px;

$bordes-1: 10px;
$bordes-2: 20px;
$bordes-3: 30px;
$bordes-4: 2px;

$sombra: 1px 1px 4px 2px;
$sombra-2: 2px 2px 10px;

$margen-1: 30px;
$margen-2: 78px;
$margen-izquierdo: 30px;

$padding: 20px;
