@import "colores";
@import "medidas";
@import "fuentes";
@import "imagenes";
@import "texto";
@import "estructuras";

@import "condicionales";

 .inicio-h1{
    color: rgb(0, 0, 0);
    font-family: $fuente-primaria;
}

 p{
    font-family: $fuente-primaria;
    font-size: larger
}

 .parrafo-fred{
    color: $color-secundario;
}

 .parrafo-daphne{
    color: rgb(204, 0, 255);
}

 .parrafo-velma{
    color: rgb(255, 115, 0);
}

 .parrafo-shaggy{
    color: $color-primario;
}

.parrafo-scooby{
    color: peru
}

.fred{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-1;
}

.daphne{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-1;
}

.velma{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-1;
}

.shaggy{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-1;
}
.scooby{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-1;
}
.casa-1{
    width: $anchura-secundaria;
    height: $altura-primaria;
}
.casa-2{
    width: $anchura-secundaria;
    height: $altura-primaria;
}
.casa-3{
    width: $anchura-secundaria;
    height: $altura-primaria;
}
.casa-4{
    width: $anchura-secundaria;
    height: $altura-primaria;
}
.casa-5{
    width: $anchura-secundaria;
    height: $altura-primaria;
}
.casa-6{
    width: $anchura-secundaria;
    height: $altura-primaria;
}
.reloj1{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-2;
    margin: $margen-1;
}
.candado2{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-2;
    margin: $margen-1;
}
.corona3{
    width: $anchura-primaria;
    height: $altura-primaria;
    border-radius: $bordes-2;
    margin: $margen-1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   }

.contenedor {
    margin-bottom: 20px;
    text-align: center;
    background-color: $color-primario;
    display: flex;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    font-family: $fuente-primaria;
 }

   p {
    margin: 25px;
    font-family: $fuente-primaria;
    
   }

.reloj{
    background-color: $color-primario;
    display: block;
    align-items: center;
    border-radius: $bordes-3;
    box-shadow: $sombra-2;
    width: $anchura-4;
    height: $altura-terciaria;
    text-align: center;
}
.candado{
    background-color: $color-primario;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: $bordes-3;
    margin-left: $margen-izquierdo;
    box-shadow: $sombra-2;
    width: $anchura-4;
    height: $altura-terciaria;
}
.corona{
    background-color: $color-primario;
    display: block;
    margin-left: $margen-izquierdo;
    align-items: center;
    border-radius: $bordes-3;
    box-shadow: $sombra-2;
    width: $anchura-4;
    height: $altura-terciaria;
}
.nav{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.offcanvas-body{
    font-family: $fuente-primaria;
    background-color: $color-primario;
}
.formularios{
    display: flex;
    align-items: column;
}
.scoobyneta{
    width: 1300px;
    height: $altura-4;
    display:flex;
    margin: $margen-2;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.fondo1{
    background-color: $color-primario;
}
.img-fluid{
    align-items: center;
    justify-content: center;
    height: $altura-4;
    display:flex;
    margin: $margen-2;
    width: 87%;
}


.proteccion{
    text-align: center;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $altura-secundaria;
    background: $color-secundario;
    font-family: $fuente-secundaria;
    padding: 0 $padding;
    text-align: center;
    
}
.card-container1{
    display: flex;
    width: $anchura-terciaria;
    height: auto;
    background: $color-terciario;
    border-radius: 2px;
    box-shadow: $sombra rgba(0, 0, 0, 2);
}
.header1{
   border-right: 1px solid $color-terciario; 
}
.descripcion1{
    background: $color-terciario;
}
.header1, .descripcion1{
    padding: $padding;
    text-align: center;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $altura-secundaria;
    background: $color-secundario;
    font-family: $fuente-secundaria;
    padding: 0 $padding;
    text-align: center;
}
.card-container2{
    display: flex;
    width: $anchura-terciaria;
    height: auto;
    background: $color-terciario;
    border-radius: $bordes-4;
    box-shadow: $sombra rgba(0, 0, 0, 2);
}
.header2{
   border-right: 1px solid $color-terciario; 
}
.descripcion2{
    background: $color-terciario;
}
.header2, .descripcion2{
    padding: $padding;
    text-align: center;
}
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $altura-secundaria;
    background: $color-secundario;
    font-family: $fuente-secundaria;
    padding: 0 $padding;
}
.card-container3{
    display: flex;
    width: $anchura-terciaria;
    height: auto;
    background: $color-terciario;
    border-radius: $bordes-4;
    box-shadow: $sombra rgba(0, 0, 0, 2);
}
.header3{
   border-right: 1px solid $color-terciario; 
}
.descripcion3{
    background: $color-terciario;
}
.header3, .descripcion3{
    padding: $padding;
    text-align: center;
}

.header4{
   border-right: 1px solid $color-terciario; 
}
.descripcion4{
    background: $color-terciario;
}
.header4, .descripcion4{
    padding: $padding;
    text-align: center;
}
.container4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $altura-secundaria;
    background: $color-secundario;
    font-family: $fuente-secundaria;
    padding: 0 $padding;
}
.card-container4{
    display: flex;
    width: $anchura-terciaria;
    height: auto;
    background: $color-terciario;
    border-radius: $bordes-4;
    box-shadow: $sombra rgba(0, 0, 0, 2);
    text-align: center;
}
.container5{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $altura-secundaria;
    background: $color-secundario;
    font-family: $fuente-secundaria;
    padding: 0 $padding;
}
.card-container5{
    display: flex;
    width: $anchura-terciaria;
    height: auto;
    background: $color-terciario;
    border-radius: $bordes-4;
    box-shadow: $sombra rgba(0, 0, 0, 2);
}
.header5{
   border-right: 1px solid $color-terciario; 
}
.descripcion5{
    background: $color-terciario;
}
.header5, .descripcion5{
    padding: $padding;
    text-align: center;
}
.divsupremo{
    background: $color-secundario;
    display: block;
    
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-secundario;
    font-size: larger;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fondo2{
    background-color: $color-secundario;
}
.casas1-3{
    display: flex;
    justify-content: space-around;
}
.casas4-6{
    display: flex;
    justify-content: space-around;
}
.fondo3{
    background: rgb(246, 111, 7);
}
.login{
    display:flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 580px;
    text-align: center;
    background: $color-terciario;
    padding: 40px;
    width: 20%; 
    border-radius: $bordes-2;
    box-shadow: 2px 3px 3px 2px;
}
.fondo4{
    background: rgb(141, 54, 241);
}
.inputContainer{
    display: flex;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px ;
}
.video{
    display: flex;
    justify-content: center;
}
.fondo5{
    background: rgb(0, 0, 0);
}
h2{                                       
    text-align: center;
    color: $color-secundario;
} 
.titulo23{
    color: rgb(240, 41, 41);
}
@media (max-width:500px){
    .fondo1{
        background-color: rgb(50, 80, 204);
    }
}
@media (max-width:500px){
    .texto-inicio{
        color: $color-secundario;
        text-align: center;
        
    }
}
@media (max-width:376px){
    .img-fluid{
        width: 100%;
        height: $anchura-secundaria;
        padding: 15px;
        font-size: larger;
        border-radius: 20%;
        width: 100%;
    }
}
@media (max-width:376px){
    .navbar-toggler{
        color: rgb(0, 157, 255);


    }
}
@media (max-width:376px){
    .contenedor{
        display: block;
        background: rgb(50, 80, 204);
    }
}
@media (max-width:376px){
    .fondo4{
        background: rgb(137, 30, 236);
        
    }
  }
  @media (max-width: 376px){
    .casas1-3{
      grid-template-columns: 1fr;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 376px){
    .casas4-6{
      grid-template-columns: 1fr;
      flex-direction: column;
      align-items: center;
    }
  }
  