@import "colores";
@import "medidas";
@import "fuentes";
@import "imagenes";
@import "texto";
@import "estructuras";

@import "mixin";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.inputContainer {
    display: flex;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px;
}

@media (max-width:376px) {
    .fondo1 {
        background-color: rgb(50, 80, 204);
    }
}

@media (max-width:376px) {
    p {
        color: $color-secundario;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:376px) {
    img {
        height: $anchura-secundaria;
        font-size: larger;
        border-radius: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        width: 100%;
    }
}

@media (max-width:376px) {
    .navbar-toggler {
        color: rgb(0, 157, 255);
    }
}

@media (max-width:376px) {
    .contenedor {
        display: flex;
        background: rgb(50, 80, 204);
    }
}

@media (max-width:376px) {
    .fondo4 {
        background: rgb(137, 30, 236);

    }
}

@media (max-width: 376px) {
    .casas1-3 {
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 376px) {
    .casas4-6 {
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:376px) {
    .formLogin {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1100px;
        padding-left: 180px;
    }
}

@media (max-width:376px) {
    .talktous {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:376px) {
    h1 {
        display: flex;
        text-align: center;
    }
}

@media (max-width:376px) {
    .reloj1 {
        display: flex;
        align-items: column;
        justify-content: space-around;
    }
}