.inicio-h1{
    color: rgb(157, 0, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger
}
.parrafo-fred{
    color: rgb(0, 157, 255);
}
.parrafo-daphne{
    color: rgb(204, 0, 255);
}
.parrafo-velma{
    color: rgb(255, 115, 0);
}
.parrafo-shaggy{
    color: rgba(68, 255, 0, 0.817);
}
.parrafo-scooby{
    color: peru
}
.fred{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.daphne{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.velma{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.shaggy{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.scooby{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.casa-1{
    width: 250px;
    height: 200px;
}
.casa-2{
    width: 250px;
    height: 200px;
}
.casa-3{
    width: 250px;
    height: 200px;
}
.casa-4{
    width: 250px;
    height: 200px;
}
.casa-5{
    width: 250px;
    height: 200px;
}
.casa-6{
    width: 250px;
    height: 200px;
}
.reloj1{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 30px;
}
.candado2{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 30px
}
.corona3{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 30px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

.contenedor {
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(253, 253, 253);
    display: flex;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
   }

   p {
    margin: 25px;
    
   }

.reloj{
    background-color: rgb(172, 172, 172);
    display: block;
    align-items: center;
    border-radius: 30px;
}
.candado{
    background-color: rgb(172, 172, 172);
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 30px;
    
}
.corona{
    background-color: rgb(172, 172, 172);
    display: block;
    margin-left: 30px;
    align-items: center;
    border-radius: 30px;
}
.nav{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.offcanvas-body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: none;
}
.formularios{
    display: flex;
    align-items: column;
}